*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
html,
body
{
  height: 100%;
  width: 100%;
}
button{
  padding: 10px 20px;
  margin: 20px;
}
h1{
  background-color: rgb(119, 119, 119);
  width: fit-content;
  font-size: 100px;
  padding: 10px 80px;
  margin: 10px;
}
